.page-questions-index
  %ul.questions
    - @questions.each do |question|
      %ul.question-title
        = question.title
      %ul.question-content
        = question.content
        / = question.vote_sum
        / = question.question_vote_ids
        = link_to "赞同", "/question_votes/new?id=" + "#{question.id}", :method => :get
        = link_to "反对", "/question_votes/new?id=" + "#{question.id}", :method => :get
        %a
          = link_to '回答', "/answers/new?id=" + "#{question.id}", :method => :get
      %ul.question-answer
        - question.answer_ids.each do |t|
          %ul.answer.content
            = QuestionMod::Answer.find(t).content
            = link_to "赞同", "/answer_votes/new?id=" + "#{t}", :method => :get
            = link_to "反对", "/answer_votes/new?id=" + "#{t}", :method => :get
            %a
              = link_to '修改', "/answers/#{t}/edit", :method => :get
  %a.btn
    = link_to '提问', "/questions/new", :method => :get