.page-answers-index
  %table.table.table-striped
    %tr.row
      %td.col-md-1
      %td.col-md-11
        .question-each
          .question-title
            = @question.title
          .question-content
            = @question.content
          %a.question-comment-count{:href => '#'}
            = @question.comments.count
            条评论

          .question-comment-table.hidden
            %table.table.table-striped
              - @question.comments.each do |question_comment|
                %tr
                  %td
                    .question-comment-id.hidden
                      = question_comment.id
                    .question-comment-creator
                      - if question_comment.question_comment_id != nil
                        = question_comment.creator.name
                        回复
                        = question_comment.question_comment.creator.name
                      -else
                        = question_comment.creator.name
                    .question-comment-content
                      = question_comment.content
                    .question-comment-created-time
                      创建于
                      = question_comment.created_at
                      %a.question-comment-response
                        = '回复'
                      - if question_comment.creator == current_user
                        %a.delete-question-comment
                          = '删除'
          .add-question-comment.hidden
            .current-user.hidden
              = current_user.name
            .question-id.hidden
              = @question.id
            %input.question-comment-content-area
  %table.table.table-striped
    %tr.row
      %td.col-md-1
      %td.col-md-11
        .answer-count
          = @question.answers.count
          个回答
  %ul.question-answer
    - @question.answers.order(vote_sum: :desc).each do |answer|
      .answer-each
        %table.table.table-striped
          %tr.row
            %td.col-md-1
              - if answer.creator != current_user
                .answer-agree-vote
                  %a.glyphicon.glyphicon-menu-up{:href => "answers/#{answer.id}/answer_votes/agree"}
                  = answer.answer_votes.where(:kind => :up).count
                .answer-against-vote
                  %a.glyphicon.glyphicon-menu-down{:href => "answers/#{answer.id}/answer_votes/against"}
                  = answer.answer_votes.where(:kind => :down).count
              - else
                .answer-agree-vote
                  赞同
                  = answer.answer_votes.where(:kind => :up).count
                .answer-against-vote
                  反对
                  = answer.answer_votes.where(:kind => :down).count
            %td.col-md-11
              = answer.creator.name
              .answer-content
                %span.hidden.answer-id
                  = answer.id
                %span.content
                  = answer.content
                - if answer.creator == current_user
                  %button.btn.btn-defualt.answer-update
                    =  '修改'
              .answer-information
                创建于
                = answer.created_at
                编辑于
                = answer.updated_at
                %a.answer-comment-count
                  = answer.answer_comments.count
                  条评论
              .answer-comment-table.hidden
                %table.table.table-striped
                  - answer.answer_comments.each do |answer_comment|
                    %tr
                      %td
                        .answer-comment-id.hidden
                          = answer_comment.id
                        .answer-comment-creator
                          - if answer_comment.answer_comment_id != nil
                            = answer_comment.creator.name
                            回复
                            = answer_comment.answer_comment.creator.name
                          -else
                            = answer_comment.creator.name
                        .answer-comment-content
                          = answer_comment.content
                        .answer-comment-created-time
                          创建于
                          = answer_comment.created_at
                          %a.answer-comment-response
                            = '回复'
                          - if answer_comment.creator == current_user
                            %a.delete-answer-comment
                              = '删除'
              .add-answer-comment.hidden
                .current-user.hidden
                  = current_user.name
                .answer-id.hidden
                  = answer.id
                %input.answer-comment-content-area
    - if @question.creator != current_user && @question.answers.where(:creator => current_user).count == 0
      = simple_form_for [@question,@answer] do |f|
        = f.input 'content', as: :text, input_html: { class: 'form-control' }
        %button.btn.btn-defualt 提交
